@charset "UTF-8";/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

div.div_comment_for_film {
  min-height: 100px;
  width: 80%;
  margin: 30px auto 0 auto;
  border: 1px solid #c0c0c0; }

div.div_comment_for_film_up {
  background-color: #E3FFE9; }

div.div_comment_for_film_down {
  background-color: #FFE1E1; }

div.div_image_for_comment {
  min-height: 100px;
  width: 100px;
  float: left; }

img.image_for_comment {
  height: 50px; }

div.div_text_of_comment {
  min-height: 80px; }

div.div_info_of_comment {
  height: 20px; }

span.autor_of_comment {
  display: block;
  float: left;
  width: 50%; }

span.date_create_comment {
  display: block; }
textarea#text_area_for_comment {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 200px; }
  textarea#text_area_for_comment:focus, textarea#text_area_for_comment:hover {
    outline: 1px solid #50009c; }

input.submit_for_comment {
  margin: 0;
  width: 50%;
  height: 50px;
  color: white;
  font-size: 14pt;
  outline: none; }
  input.submit_for_comment:hover {
    cursor: pointer; }

input#submit_up_for_comment {
  background-color: darkgreen; }
  input#submit_up_for_comment:hover {
    background-color: palegreen;
    color: black; }

input#submit_down_for_comment {
  background-color: darkred; }
  input#submit_down_for_comment:hover {
    background-color: tomato; }
ul#ul_menu_films {
  list-style: none;
  width: 700px;
  margin: 0 auto;
  padding: 0; }

li.li_menu_films {
  margin-top: 20px;
  width: 700px;
  height: 150px;
  text-align: left;
  color: black;
  background-color: white;
  border-top: 1px solid silver;
  border-right: 1px solid silver;
  box-shadow: -7px 8px 10px black; }

img.image_at_menu_films {
  float: left;
  height: 150px;
  margin: 0; }
  img.image_at_menu_films:hover {
    -webkit-transition: all 0.5s ease;
    height: 50%;
    position: absolute;
    border: 1px solid whitesmoke; }

a.a_film_name, a.a_film_kinopoisk {
  font-size: 15px;
  text-decoration: none;
  line-height: 1.2;
  display: block;
  color: black;
  text-decoration: underline;
  margin: 0;
  width: 70%; }
  a.a_film_name:visited, a.a_film_kinopoisk:visited {
    color: black; }
  a.a_film_name:hover, a.a_film_kinopoisk:hover {
    color: black;
    background-color: transparent; }

a.a_film_kinopoisk {
  line-height: 3; }

div.div_description_of_film {
  margin-left: 150px;
  height: 100%; }

div.div_top_of_description_of_film {
  height: 111px;
  width: 540px;
  font-size: 12px;
  line-height: 1.3;
  border-bottom: 1px solid silver;
  overflow: hidden; }
  div.div_top_of_description_of_film:hover {
    -webkit-transition: all 0.2s ease;
    border-left: 3px solid black;
    border-right: 3px solid black;
    width: 546px;
    border-radius: 0 0 10px 10px;
    cursor: pointer; }

div#div_result_of_vote {
  margin-left: 60%;
  height: 40px; }

img.image_vote {
  height: 30px; }

span.span_count_vote {
  line-height: 1;
  font-size: 12px; }
div#div_wrapper_show_film {
  margin: 20px auto 0 auto;
  background-color: white; }

img#image_at_show_film {
  height: 400px;
  margin: 0 20px;
  float: left;
  background-color: whitesmoke;
  padding: 10px;
  border: 1px solid black; }
  img#image_at_show_film:hover {
    cursor: pointer; }

div#div_wrapper_for_description_show_film {
  margin-right: 20px;
  height: 400px; }

a.a_kinopoisk_at_show_film {
  font-size: 15px;
  color: black;
  background-color: transparent;
  text-decoration: underline; }
  a.a_kinopoisk_at_show_film:hover {
    color: black;
    background-color: transparent;
    text-decoration: none; }

div#div_wrapper_for_form_create_comment {
  min-height: 10px;
  width: 80%;
  margin: 50px auto 0 auto; }

div#div_wrapper_for_all_comments {
  font-size: 15px;
  margin: 30px 0;
  padding-bottom: 30px; }
#div_form {
  height: 30%;
  margin-top: 5%; }

div.for_field_input {
  border-bottom: 1px solid black;
  width: 800px; }

div.label_for_field_input {
  line-height: 1;
  font-size: 30pt;
  color: black;
  float: left;
  width: 180px; }

input.field_input {
  border: none;
  font-size: 30pt;
  background-color: transparent; }
  input.field_input:focus {
    outline: none; }

input.submit {
  font-size: 20pt;
  margin: 20px 0 0 0;
  background-color: transparent;
  width: 180px;
  height: 50px;
  color: black; }
  input.submit:hover {
    cursor: pointer;
    color: #faa21a; }
html {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0;
  height: 100%; }

.clear {
  clear: both; }

#darkening_window {
  background-color: black;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none; }

A {
  text-decoration: none;
  color: black; }
  A:hover {
    text-decoration: none;
    color: black; }
  A:visited {
    text-decoration: none;
    color: black; }

div#div_wrapper {
  min-height: 100%;
  margin: 0 auto;
  background-color: whitesmoke; }

div#div_wrapper_center {
  min-height: 100px;
  width: 1200px;
  margin: 0 auto 30px auto;
  background-color: whitesmoke; }

div#div_wrapper_left_panel {
  float: left;
  width: 200px; }

div#div_wrapper_yield {
  width: 850px;
  min-height: 800px;
  margin: 0 0 50px 0;
  box-shadow: -7px 8px 10px black;
  border: 1px solid silver;
  background-color: white; }

div#div_wrapper_footer {
  height: 200px;
  width: 100%;
  background-color: black; }
div#div_wrapper_right_panel {
  float: right;
  width: 300px; }

div.div_element_right_panel {
  width: 100%;
  box-shadow: -7px 8px 10px black;
  margin-top: 20px;
  border-right: 1px solid silver;
  color: black;
  background: white; }
  div.div_element_right_panel:hover {
    opacity: 0.8;
    cursor: pointer;
    color: black; }

img.img_top_of_element_right_panel {
  width: 100%; }

div.div_bt_show_bottom_of_element_right_panel {
  height: 30px;
  font-size: 20px;
  line-height: 1;
  text-align: center; }

div.div_bottom_of_element_right_panel {
  height: 30px;
  overflow: hidden; }
  div.div_bottom_of_element_right_panel:hover {
    height: 10%;
    overflow: visible; }

div.div_bt_show_future_in_cinemas {
  height: 50px;
  width: 250px;
  text-align: center;
  font-size: 20px;
  line-height: 2.3;
  color: black;
  margin: 0 auto;
  text-decoration: none;
  border-radius: 10px;
  -webkit-transition: background 1s ease; }
  div.div_bt_show_future_in_cinemas:hover {
    background-color: black;
    color: white; }
div#div_wrapper_select_year {
  height: 40px;
  width: 100%;
  background-color: whitesmoke;
  border-bottom: 50px solid whitesmoke; }

div#div_wrapper_select_year a {
  color: #7E7E7E; }
  div#div_wrapper_select_year a:hover {
    color: #7E7E7E; }
  div#div_wrapper_select_year a:visited {
    color: #7E7E7E; }

ul#ul_select_year {
  margin: 0 auto;
  width: 735px;
  height: 100%;
  padding: 0; }

ul#ul_select_year li {
  margin: 0;
  display: inline; }

div.div_select_year {
  height: 100%;
  width: 120px;
  float: left;
  text-align: center;
  font-size: 17px;
  line-height: 2;
  margin: 0;
  border-radius: 0 0 10px 10px;
  border: 1px dotted black;
  border-top: 0;
  -webkit-transition: background 1s ease; }
  div.div_select_year:hover {
    background-color: black;
    color: white; }

div#div_wrapper_top_big_label {
  min-height: 400px;
  position: relative;
  background-color: black;
  border-bottom: 50px solid black;
  border-left: 50px solid black;
  border-right: 50px solid black; }

div#div_wrapper_description_of_top_big_label {
  width: 100%;
  height: 50px; }

div#div_description_of_top_big_label {
  height: 100%;
  width: 300px;
  margin: 0 auto;
  color: #7E7E7E;
  font-size: 20px;
  line-height: 2.2;
  text-align: center;
  font-weight: 600;
  -webkit-transition: all 0.5s ease; }
  div#div_description_of_top_big_label:hover {
    color: white;
    cursor: pointer; }

div#div_search {
  width: 100%;
  height: 45px;
  text-align: center;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  margin: 0 auto; }

input#field_input_of_search {
  line-height: 1;
  width: 400px;
  height: 40px;
  background-color: white;
  font-size: 25px;
  outline: none;
  margin: 0;
  padding: 0; }
  input#field_input_of_search:focus {
    outline: none; }

input#submit_of_search {
  height: 30px;
  width: 30px;
  background: url("/assets/loupe.png") no-repeat;
  background-size: cover;
  border: none; }
  input#submit_of_search:hover {
    cursor: pointer; }

img.img_for_slider_top {
  height: 100%; }
  img.img_for_slider_top:hover {
    cursor: pointer;
    opacity: 0.8; }

#slider-wrap {
  /* Оболочка слайдера и кнопок */
  width: 800px;
  height: 400px;
  margin: 0 auto;
  background-color: black; }

#slider {
  /* Оболочка слайдера */
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

.slide {
  /* Слайд */
  width: 100%;
  height: 100%;
  text-align: center; }

.sli-links {
  /* Кнопки смены слайдов */ }

.sli-links .control-slide {
  /*
  margin:2px;
  display:inline-block;
  width:16px;
  height:16px;
  overflow:hidden;
  text-indent:-9999px;
  background:url(radioBg.png) center bottom no-repeat;
  */ }

.sli-links .control-slide:hover {
  /*
  cursor:pointer;
  background-position:center center;
  */ }

.sli-links .control-slide.active {
  background-position: center top; }

#prewbutton, #nextbutton {
  /* Ссылка "Следующий" и "Педыдущий" */
  /*
  display:block;
  width:15px;
  height:100%;
  position:absolute;
  top:0;
  overflow:hidden;
  text-indent:-999px;
  background:url(arrowBg.png) left center no-repeat;
  opacity:0.8;
  z-index:999;
  outline:none !important;
  */ }

#prewbutton {
  left: 10px; }

#nextbutton {
  /*
  right:10px;
  background:url(arrowBg.png) right center no-repeat;
  */ }

#prewbutton:hover, #nextbutton:hover {
  /*
  opacity:1;
  */ }
div#div_wrapper_top_navigation {
  width: 100%;
  height: 50px;
  background-color: F5F5F5; }

div#div_left_of_navigation_top {
  width: 50%;
  height: 100%;
  float: left;
  margin: 0; }

ul#ul_left_of_navigation_top {
  height: 100%;
  width: 410px;
  padding: 0;
  margin: 0 auto; }

div.div_link_left_of_navigation_top {
  width: 200px; }

div#div_right_of_navigation_top {
  width: 50%;
  height: 100%;
  margin: 0 0 0 50%; }

ul#ul_right_of_navigation_top {
  height: 100%;
  width: 610px;
  padding: 0;
  margin: 0 auto; }

div.div_link_right_of_navigation_top {
  width: 150px; }

ul#ul_right_of_navigation_top li, ul#ul_left_of_navigation_top li {
  margin: 0;
  display: inline; }

div.div_link_right_of_navigation_top, div.div_link_left_of_navigation_top {
  height: 100%;
  float: left;
  text-align: center;
  font-size: 20px;
  line-height: 2.3;
  color: #9e9eaa;
  margin: 0;
  -webkit-transition: all 0.5s ease; }
  div.div_link_right_of_navigation_top:hover, div.div_link_left_of_navigation_top:hover {
    background-color: #dbdbdb;
    color: black; }
  div.div_link_right_of_navigation_top a:visited, div.div_link_left_of_navigation_top a:visited {
    color: #7E7E7E; }
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }
  a:visited {
    color: #666; }
  a:hover {
    color: #fff;
    background-color: #000; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }
