// Place all the styles related to the Films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gold: #FAA21A;
$black: #000000;
$smoky: #F5F5F5;
$white: #FFFFFF;
$green_dark: #006400;
$red_dark: #8B0000;
$green: #90EE90;//#008000;
$red: #FF0000;
$green_pale: #98FB98; //бледный
$red_pale: #FF6347;

$height_blok: 150px;
$width_screen: 700px;

//отключаемый контур блоков:
@mixin contour_of_bloсk
{
	outline: 1px solid $gold; 
}

//@import "bootstrap";

ul#ul_menu_films {
	list-style: none;
	width: $width_screen;
	margin: 0 auto;
	//@include contour_of_bloсk;
}

li.li_menu_films {
	margin-top: 20px;	
	height: $height_blok;
	text-align: left;
	font-size: 14pt;
	color: $black;
	background-color: $white;
	border: 1px solid $black;
	border-radius: 0 30px 30px 0;
	box-shadow: 0 0 30px $smoky;

	//@include contour_of_bloсk;
}

//////////////////////////////////////////
// Уменьшенная картинка к фильму
// (начало)

div.div_image_at_menu_films {
	float: left;
	height: $height_blok;
	width: $height_blok;
	//@include contour_of_bloсk;
}

img.image_at_menu_films {
	height: $height_blok;
}


// (конец)
// Уменьшенная картинка к фильму
//////////////////////////////////////////////////////////

///////////////////////////////////////////////////////
// ССЫЛКИ НА ПОЛНОЕ ОПИСАНИЕ ФИЛЬМА (ВЕРХНИЙ ЗАГОЛОВОК) И НА КИНОПОИСК (СНИЗУ)
// (начало)

a.a_film_name, a.a_film_kinopoisk {

	font-size: 12pt;
	text-decoration: none;	
	line-height: 1.2;

	color: $black;
	text-decoration: none;
	margin: 0;
	width: 70%;
	//padding: 0 20px;

	&:visited {
		color: $black;
	}

	&:hover {
		color: $gold;
		background-color: transparent;//$white;
		//border-bottom: 1px solid $gold;		
	}
}

a.a_film_name {
	border-bottom: 1px solid $black;
}

a.a_film_kinopoisk {
	border-top: 1px solid $black;
	bottom: 0;
}

// (конец)
// ССЫЛКИ НА ПОЛНОЕ ОПИСАНИЕ ФИЛЬМА (ВЕРХНИЙ ЗАГОЛОВОК) И НА КИНОПОИСК (СНИЗУ)
///////////////////////////////////////////////////////////////


p.p_description_of_film {
	font-size: 9pt;
	line-height: 1;
	margin: 3px 0;
}

div.div_options_at_film {
	margin-left: $height_blok;
	height: 100%;	
	//@include contour_of_bloсk;
}

div.div_description_of_film {
	//margin-top: 10px;
	width: 80%;
	//border: 1px solid $black;
	height: 100%;
	float: left;
	//@include contour_of_bloсk;
}

div.div_my_description_of_film {	
	height: 80%;
	//@include contour_of_bloсk;
}


//Блок с результатами голосования
// (начало)

div.div_vote {
	margin-left: 80%;
	height: 100%;
	//@include contour_of_bloсk;
	color: $black;
	font-size: 12pt;
	line-height: 3.5;
	//text-align: right;
	//@include contour_of_bloсk;
}

img.image_vote {
	height: 50%;
	float: left;
	//@include contour_of_bloсk;
}

p.p_count_vote {
	height: 50%;
	line-height: 5;
	margin: 0;
	font-size: 9pt;
}

// (конец)
//Блок с результатами голосования



////////////////////////////
//// СТРАНИЦА ПОКАЗА ВЫБРАННОГО ФИЛЬМА С КОММЕНТАРИЯМИ
////////////////////////////

$height_image_at_show_film: 400px;


div#div_show_film {
	width: $width_screen; //90%;
	margin: 10% auto;	
	background-color: $white;

	border: 4px solid $black;
	border-radius: 10px;
	box-shadow: 0 0 30px $smoky;

}

//// КАРТИНКА (НАЧАЛО)
div#div_image_at_show_film {		
	width: $height_image_at_show_film - 10px;
	height: $height_image_at_show_film;
	margin: 10px 0 0 10px;	
	text-align: center;
	float: left;

	//@include contour_of_bloсk;
}

img#image_at_show_film {
	height: $height_image_at_show_film;
}
//// КАРТИНКА (КОНЕЦ)

//// ОПИСАНИЕ (НАЧАЛО)
div#div_description_at_show_film {
	margin-left: $height_image_at_show_film;
	margin-right: 10px;
	margin-top: 10px;
	height: $height_image_at_show_film;
	//@include contour_of_bloсk;
}
//// ОПИСАНИЕ (КОНЕЦ)

//// БЛОК КОММЕНТАРИЕВ (НАЧАЛО)
div#div_comments {
	margin: 5%;
	//@include contour_of_bloсk;
}

// Форма создания коммента(начало):
div#form_for_create_comment {
	width: 100%;
	//@include contour_of_bloсk;
}
textarea#text_area_for_comment {
	margin: 0;	
	padding: 0;
	width: 100%;
	height: 200px;	
	//@include contour_of_bloсk;
}
div.div_submit_for_comment {	
	width: 50%;
	height: 50px;
	//@include contour_of_bloсk;
	float: left;
}
input.submit_for_comment {
	margin: 0;	
	width: 100%;
	height: 100%;
	border: 3px solid $black;
	color: $white;
	font-size: 14pt;

	&:hover {
		cursor: pointer;
	}

}
input#submit_up_for_comment {
	background-color: $green_dark;	

	&:hover {
		background-color: $green_pale; //$green;		
		color: $black;
	}
}
input#submit_down_for_comment {
	background-color: $red_dark;	

	&:hover {
		background-color: $red_pale; //$red;		
		//color: $black;
	}
}
// Форма создания коммента(конец):

// Вывод всех комментариев (начало)

$height_comment_block: 200px;

div#div_all_comments_for_film {
	//@include contour_of_bloсk;
	font-size: 12pt;
}

div.div_comment_for_film {
	//@include contour_of_bloсk;
	height: $height_comment_block;
	margin-top: 20px;
	//border: 1px solid $black;
	border-radius: 5px;	
}

div.div_comment_for_film_up {
	//background-color: $green_pale;
	box-shadow: 0 0 5px $green_pale;
}

div.div_comment_for_film_down {
	//background-color: $red_pale;
	box-shadow: 0 0 5px $red_pale;
}

div.div_image_for_comment {
	height: $height_comment_block;
	width: 100px;
	float: left;
}

img.image_for_comment {
	height: 100px;
}

div.div_text_of_comment {
	height: $height_comment_block - 20px;
	//@include contour_of_bloсk;
}

div.div_info_of_comment {
	height: 20px;
	//@include contour_of_bloсk;
}

span.autor_of_comment {
	display: block;
	float: left;
	width: 50%
}

span.date_create_comment {
	display: block;

}

// Вывод всех комментариев (конец)

//// БЛОК КОММЕНТАРИЕВ (КОНЕЦ)