//divs_select_year.css.scss

$white: #FFFFFF;
$black: #000000;
$smoky: #F5F5F5;
$gray: #808080;
$gold: #FAA21A;

//отключаемый контур блоков:
@mixin contour_of_bloсk
{
	outline: 3px solid $gold; 
}

div#wrapper_select_year {
	height: 50px;
	width: 100%;//900px;
	margin: 0 auto;
	background-color: $smoky;
	color: $gray;
	//@include contour_of_bloсk;
}

div#div_divs_select_year {
	margin: 0 auto;
width: 900px;
height: 100%;
}

a div.div_select_year {

	//background-color: $gray;
	//color: $smoky;

	//background-color: $smoky;
	//color: $gray;

	font-size: 20px;
	line-height: 2;	
	text-align: center;
	float: left;
	height: 100%;
	width: 150px;
	//border-radius: 5px;
	//@include contour_of_bloсk;	
	//box-shadow: 0 0 5px $black;	


	-webkit-transition: background 1s ease;
	&:hover {
		background-color: $black;
		color: $white;		
	}

}