//layouts.css.scss

$black: #000000;
$gold: #FAA21A;
$white: #FFFFFF;
$smoky: #F5F5F5;
$gray: #808080;

//отключаемый контур блоков:
@mixin contour_of_bloсk
{
	outline: 3px solid $gold; 
}

html {		
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
}

.clear 
{
	clear:both;
}

A {
text-decoration: none;
}

//////////////////////////////
// ОБОЛОЧКА ВСЕЙ СТРАНИЦЫ
//////////////////////////////
div#div_wrapper {	
	min-height: 100%;
	margin: 0 auto;
	background-color: $smoky;
}

//////////////////////////////
// ВЕРХНЯЯ НАВИГАЦИОННАЯ ПАНЕЛЬКА
//////////////////////////////
div#div_wrapper_top_navigation {
	width: 100%;
	height: 50px; 
	background-color: $smoky;
	border-top: 50px solid $smoky;
	//@include contour_of_bloсk;
}

//////////////////////////////
// БОЛЬШОЙ БЛОК СВЕРХУ ПОД ВЕРХНЕЙ НАВИГАЦИОННОЙ ПАНЕЛЬКОЙ
//////////////////////////////
div#div_wrapper_top_big_label {
	//width: 100%;
	min-height: 400px;
	position: relative;
	background-color: $black;
	//background: url(image_path("top.png")) no-repeat;
	//background-size: cover;
	border-bottom: 50px solid $black;
	border-left: 50px solid $black;
	border-right: 50px solid $black;
	//@include contour_of_bloсk;
}

//////////////////////////////
// ПАНЕЛЬКА ВЫБОРА ДИАПАЗОНА ГОДОВ ДЛЯ ФИЛЬМОВ
//////////////////////////////
div#div_wrapper_select_year {
	height: 50px;
	width: 100%;
	background-color: $smoky;
	//border-top: 5px solid $black;
	//border-bottom: 5px solid $black;
	//@include contour_of_bloсk;
}

//////////////////////////////
// ОБЛОЧКА ЦЕНТРАЛЬНЫХ БЛОКОВ
//////////////////////////////
div#div_wrapper_center {
	min-height: 100px;
	width: 1200px;
	margin: 0 auto;
	background-color: $smoky;
	//@include contour_of_bloсk;
}

//////////////////////////////
// ЛЕВАЯ ПАНЕЛЬКА
//////////////////////////////
div#div_wrapper_left_panel {
	float: left;
	width: 200px;
	//background-color: $smoky;
	//@include contour_of_bloсk;
}

//////////////////////////////
// ПРАВАЯ ПАНЕЛЬКА
//////////////////////////////
div#div_wrapper_right_panel {
	float: right;
	width: 300px;
	//background-color: $white;
	//padding-top: 20px;
	//@include contour_of_bloсk;
}

//////////////////////////////
// БЛОК YIELD
//////////////////////////////
div#div_wrapper_yield {
	width: 850px;

	min-height: 800px;
	margin: 0 0 50px 0;
	//padding: 20px 0;	
	//background-color: $white;
	//@include contour_of_bloсk;
}

//////////////////////////////
// БЛОК ПОДВАЛА
//////////////////////////////
div#div_wrapper_footer {
	height: 200px;
	width: 100%;
	background-color: $black;
}

