div.div_element_right_panel {
	width: 100%;
	height: 400px;
}

img.img_top_of_element_right_panel {
	width: 100%;
	height: 75%;
}

div.div_bottom_of_element_right_panel {
	width: 100%;
	height: 25%;
}