$white: #FFFFFF;
$black: #000000;
$gold: #FAA21A;
$smoky: #F5F5F5;

//отключаемый контур блоков:
@mixin contour_of_bloсk
{
    outline: 1px solid $gold; 
}

//////////////////////
// ЛЕВАЯ СТОРОНА ВЕРХНЕЙ НАВИГАЦИОННОЙ ПАНЕЛЬКИ
//////////////////////

$width_left_link: 250px;

div#div_left_of_navigation_top {
    width: 50%;
    height: 100%;
    float: left;
    margin: 0;

    //@include contour_of_bloсk;
}

ul#ul_left_of_navigation_top {
    height: 100%;   
    width: $width_left_link*2 + 10px;
    padding: 0;
    margin: 0 auto;
}

div.div_link_left_of_navigation_top {
    width: $width_left_link;
    //@include contour_of_bloсk;
}

//////////////////////
// ПРАВАЯ СТОРОНА ВЕРХНЕЙ НАВИГАЦИОННОЙ ПАНЕЛЬКИ
//////////////////////

$width_right_link: 150px;

div#div_right_of_navigation_top {
    width: 50%;
    height: 100%;
    margin: 0 0 0 50%;
    //@include contour_of_bloсk;
}

ul#ul_right_of_navigation_top {
    height: 100%;   
    width: $width_right_link*4 + 10px;
    padding: 0;
    margin: 0 auto;
    //@include contour_of_bloсk;
}

div.div_link_right_of_navigation_top {
    width: $width_right_link;
}

//////////////////////
// ОБЩИЕ ПРАВИЛА
//////////////////////

ul#ul_right_of_navigation_top  li, ul#ul_left_of_navigation_top  li {
    margin: 0;
    display: inline;

    //@include contour_of_bloсk;
}

div.div_link_right_of_navigation_top, div.div_link_left_of_navigation_top {
    height: 100%;       
    float: left;
    text-align: center;
    font-size: 20px;
    line-height: 2.5;
    color: $black;
    margin: 0;
    border-radius: 10px 10px 0 0;
    border: 1px dotted $black;
    //background-color: $smoky;
    //@include contour_of_bloсk;

    -webkit-transition: background 1s ease;
    &:hover {
        background-color: $black;
        color: $smoky;
    }
}