<% @films.each do | film | %>
	<div class="div_short_description_for_film">
		<%= image_tag(film.image, class: "image_film") %>
		<%= film.name %>
		<%= film.short_description %>
	</div>
	<div class="clear"></div>	
<% end %>