<div id="div_search">

	<%= form_tag( 	{ controller: "films", action: "create" }, 
						{ method: "post" } ) do %>	
		
					
			<%= text_field_tag :email, nil, id: "field_input_of_search" %>
		
	
			<%= submit_tag "", id: "submit_of_search" %>	


	<% end %>

</div>