// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$smoky: #F5F5F5;
$black: #000000;
$white: #FFFFFF;
$gold: #FAA21A;

#div_form {
	height: 30%;
	margin-top: 5%;
}

// Блок для лейбла и инпут поля
div.for_field_input {
	border-bottom: 1px solid $black;	
	width: 800px;	
}

// лейбл для инпут поля
div.label_for_field_input {	
	line-height: 1;
	font-size: 30pt;
	color: $black;
	float: left;
	width: 230px;
}

// инпут поле
input.field_input {
	//height: 30px;
	border: none;
	//border-bottom: 4px solid $smoky;
	font-size: 30pt;
	background-color: transparent;

	&:focus {
		outline: none;
	}
}

.error_text {
	color: #FF0000; //red
	font-size: 16px;
}

.required:after {
    content: " *";
    color: #FF0000; //red
}

// Кнопочка
input.submit {
	font-size: 20pt;
	margin: 20px 0 0 0;
	background-color: transparent;
	width: 180px;
	height: 50px;
	color: $black; //$smoky;
	&:hover {
		cursor: pointer;
		color: $gold;
	}
}