// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$smoky: #F5F5F5;
$black: #000000;
$white: #FFFFFF;

#div_form {
	height: 30%;
	margin-top: 5%;
}

// Блок для лейбла и инпут поля
div.for_field_input {
	border-bottom: 1px solid $black;
	font-size: 14pt;
	//margin: 0;
	width: 340px;	
}

// лейбл для инпут поля
div.label_for_field_input {
	color: $black;
	float: left;
	width: 80px;
}

// инпут поле
input.field_input {
	//height: 30px;
	border: none;
	//border-bottom: 4px solid $smoky;
	font-size: 16pt;
	background-color: transparent;

	&:focus {
		outline: none;
	}
}

// Кнопочка
input.submit {
	font-size: 20pt;
	margin: 20px 0 0 80px;
	background-color: transparent;
	color: $white;
	&:hover {
		cursor: pointer;
	}
}