// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black: #000000;
$gold: #FAA21A;
$white: #FFFFFF;
$smoky: #F5F5F5;

//отключаемый контур блоков:
@mixin contour_of_bloсk
{
	//outline: 1px solid $gold; 
}

html {	
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
}

.clear 
{
	clear:both;
}

#wrapper {	
	height: 100%;
	margine: 0 auto;
}

//////////////////////////////
// ВЕРХНЯЯ ПАНЕЛЬКА С ПРИВЕТСТВУЮЩЕЙ КАРТИНКОЙ (НАЧАЛО)
//////////////////////////////

//Весь блок:
#div_top{	
	width: 100%;
	height: 100%;
	margine: 0 auto;
	background: url(image_path("top.png")) no-repeat;
	background-size: 100%;
}

#div_title {
	color: $white;
	font-size: 16pt;
}

//////////////////////////////
// ВЕРХНЯЯ ПАНЕЛЬКА С ПРИВЕТСТВУЮЩЕЙ КАРТИНКОЙ (КОНЕЦ)
//////////////////////////////

//////////////////////////////
// ВЕРХНЯЯ НАВИГАЦИОННАЯ ПАНЕЛЬКА (НАЧАЛО)
//////////////////////////////

A.a_navigation_top 
{
	color: $smoky;

	&:visited {
		color: $smoky;
	}

	&:hover {
		color: $black;
		background: $smoky;
	}
}

#div_navigation_top {
	width: 100%;
	height:40px;
	float: right;
	position: fixed;
	text-align: right;
	background-color: $black;
}

ul#ul_navigation_top {
	margin-right: 100px;
}

ul#ul_navigation_top li.li_navigation_top {
	font-size: 14pt;
	display: inline;
	margin-right: 10px;
}

//////////////////////////////
// ВЕРХНЯЯ НАВИГАЦИОННАЯ ПАНЕЛЬКА (КОНЕЦ)
//////////////////////////////



//////////////////////////////
// ПАНЕЛЬКА ВЫБОРА ГОДА ФИЛЬМОВ (НАЧАЛО)
//////////////////////////////

#div_select_year {
	@include contour_of_bloсk;
	text-align: center;
	height: 30px;
	padding: 20px 0;
}

ul#ul_select_year {
	margin: 0;
}

ul#ul_select_year li.bt_select_year {
	font-size: 18pt;
	display: inline;
	margin-right: 20px;
	border: 1px solid $black;

	&:hover {
		cursor: pointer;
	}
}

//////////////////////////////
// ПАНЕЛЬКА ВЫБОРА ГОДА ФИЛЬМОВ (КОНЕЦ)
//////////////////////////////