// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gold: #FAA21A;
$white: #FFFFFF;
$black: #000000;
$green_dark: #006400;

//отключаемый контур блоков:
@mixin contour_of_bloсk
{
	outline: 1px solid $gold;
}



