// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gold: #FAA21A;
$black: #000000;

//отключаемый контур блоков:
@mixin contour_of_bloсk
{
	outline: 1px solid $gold; 
}

.div_short_description_for_film {
	margin: 20px 0;
	width: 50%;
	height: 300px;
	@include contour_of_bloсk;
}

.image_film {
	float: left;
	//width: 300px;
	height: 300px;
}