<div class="div_element_right_panel">
	<%= image_tag "mnogonogka_1.png", class: "img_top_of_element_right_panel" %>
	<div class="div_bottom_of_element_right_panel">Описание Первая новость</div>
</div>

<div class="div_element_right_panel">
	<%= image_tag "mnogonogka_1.png", class: "img_top_of_element_right_panel" %>
	<div class="div_bottom_of_element_right_panel">Описание Вторая новость новость</div>
</div>

<div class="div_element_right_panel">
	<%= image_tag "mnogonogka_1.png", class: "img_top_of_element_right_panel" %>
	<div class="div_bottom_of_element_right_panel">Описание Третья новость новость</div>
</div>

<div class="div_element_right_panel">
	<%= image_tag "mnogonogka_1.png", class: "img_top_of_element_right_panel" %>
	<div class="div_bottom_of_element_right_panel">Описание Четвертая новость новость</div>
</div>